<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afb062">  <td>14/09/30 15:18:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleSeleniumTest.invokeGoogle()[pri:0, instance:com.sample.test.SeleniumTest.SampleSeleniumTest@16392c27]">invokeGoogle</td> 
  <td>main@1205095693</td>   <td></td> </tr>
<tr bgcolor="afb062">  <td>14/09/30 15:18:47</td>   <td>7696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleSeleniumTest.test1()[pri:0, instance:com.sample.test.SeleniumTest.SampleSeleniumTest@16392c27]">test1</td> 
  <td>main@1205095693</td>   <td></td> </tr>
</table>
